.banner {
  margin-bottom: 45px;

  &__main {
    &-content {
      display: inline-block;
      padding: 40px 70px;
      cursor: default;
    }

    &-title {
      font-size: 20px;
      margin-bottom: 14px;
      line-height: 130%;
      font-weight: 500;
    }

    &-descr {
      margin: 0;
      // max-width: 688px;
      font-size: 15px;
      line-height: 150%;
      color: #242424;
    }
  }

  &__swiper {
    background-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

  &__slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &-pic {
      // display: block;

      & img {
        display: block;
      }
    }
  }
}
