.product-price {
  margin-bottom: 17px;
  display: flex;
  align-items: center;

  &__current {
    margin-right: 12px;
    font-size: 24px;
  }

  &__old {
    font-size: 12px;
    text-decoration: line-through;
  }
}
