.stepper {
  display: inline-flex;
  align-items: center;
  width: 90px;
  height: 40px;
  user-select: none;
  position: relative;

  @include mobile {
    margin-bottom: 8px;
  }

  &__field {
    height: 100%;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  &__input {
    border: none;
    outline: none;
    min-width: 2ex;
    text-align: center;
  }

  &__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 100%;
    top: 0;
    cursor: pointer;
    bottom: 0;
    width: 20px;
  }

  &__btn--up {
    right: 0;
  }

  &__btn--down {
    left: 0;
  }

  &__icon {
    width: 12px;
    height: 12px;
  }
}
