.goods {

  &__title {}

  &__section {
    // gap: 0;
    row-gap: 0;
    align-items: flex-start;
  }

  &__swiper {}

  &__wrapper {}

  &__slide {}

  &__slide-pic {

    & img {
      height: 100%;
    }
  }

  &__mini-swiper {}

  &__mini-wrapper {}

  &__mini-slide {}

  &__descr {}

  &__control {
    grid-column: 3 span;

    @include small-tablet {
      grid-column: 12 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }
}

.tabs {

  &__nav {
    padding: 20px 12px;
    margin-bottom: 30px;
    box-shadow: 28px 18px 13px rgba(128, 128, 128, 0.01), 16px 10px 11px rgba(128, 128, 128, 0.02), 7px 5px 8px rgba(128, 128, 128, 0.03), 2px 1px 5px rgba(128, 128, 128, 0.04), 0px 0px 0px rgba(128, 128, 128, 0.04);
    border-radius: 4px;

    @include mobile {
      width: 100%;
      overflow-x: scroll;
    }
  }

  &__nav-item {

    &:not(:last-child) {
      margin-right: 30px;
    }

    @include mobile {
      flex-shrink: 0;
    }
  }

  &__nav-btn {
    color: rgb(149, 149, 149);

    &--active {
      color: #000;
    }

    &:focus {
      color: #000;
      background-color: transparent;
    }
  }

  &__content {
    grid-column: 9 span;

    @include small-tablet {
      grid-column: 12 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__panel {
    // padding: 30px;
    // box-shadow: 0px 34px 13px rgba(133, 133, 133, 0.01), 0px 19px 11px rgba(133, 133, 133, 0.05), 0px 8px 8px rgba(133, 133, 133, 0.09), 0px 2px 5px rgba(133, 133, 133, 0.1), 0px 0px 0px rgba(133, 133, 133, 0.1);
    border-radius: 4px;
    margin-bottom: 60px;

    &--active {
      grid-column: 9 span;

      @include small-tablet {
        grid-column: 12 span;
      }

      @include mobile {
        grid-column: 4 span;
      }
    }
  }

  &__goods {}

  &__swiper {
    grid-column: 6 span;
    min-width: 0;

    @include small-tablet {
      grid-column: 12 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }
}

.goods-descr {
  grid-column: 6 span;

  @include small-tablet {
    grid-column: 12 span;
  }

  @include mobile {
    grid-column: 4 span;
  }

  &__block {

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &--hide {
      height: 290px;
      overflow: hidden;
      position: relative;
      padding-bottom: 30px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        // width: 100%;
        right: 0;
        height: 50px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 69.03%);
      }
    }
  }

  &__all-btn {
    display: none;

    &--hide {
      display: block;
      color: var(--prim-color);
      font-weight: 500;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0px);
      z-index: 2;
      background-color: transparent;
      border-radius: 4px;
      padding: 10px 8px;
      transition: background-color .3s ease-in-out ;

      &:hover {
        background-color: rgba(64, 195, 81, 0.2);
      }
    }

  }

  &__title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__value {
    flex-shrink: 0;
    font-weight: 500;
  }

  &__list {
    // margin-right: 70px;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__naim {
    width: 100%;
    display: flex;
    flex: 1;
    color: rgb(77, 77, 77);

    &::after {
      border-bottom: 1px dashed #c3c3c3;
      content: "";
      flex: 1;
      order: 1;
      margin: 0 4px;
      display: flex;
      height: 17px;
    }
  }
}

.goods-control {
  background-color: #F7F8F9;
  padding: 60px 30px;
  border-radius: 4px;
  margin-bottom: 60px;

  &__info {}

  &__cost {}

  &__value {}

  &__price {}

  &__unit {}

  &__btns {
    margin-bottom: 12px;
  }

  &__descr {
    color: #9D9D9D;
    font-size: 14px;
  }
}


// .goods .container {
//   width: 100%;
// }
