<section class="about">
  <div class="container">
    <div class="about__inner grid">
      <div class="about__info">
        <h3 class="about__title">Компания <span>АГРОТЕХ21</span> это:</h3>
        <ul class="list-reset about__benefits about-benefits">
          <li class="about-benefits__item">
            <svg class="about-benefits__icon">
              <use xlink:href="img/icons/about/fire.svg#fire"></use>
            </svg>
            <span>Отличное качество</span>
          </li>
          <li class="about-benefits__item">
            <svg class="about-benefits__icon">
              <use xlink:href="img/icons/about/percent.svg#percent"></use>
            </svg>
            <span>Скидки партнерам</span>
          </li>
          <li class="about-benefits__item">
            <svg class="about-benefits__icon">
              <use xlink:href="img/icons/about/star.svg#star"></use>
            </svg>
            <span>Ваш лучший поставщик</span>
          </li>
          <li class="about-benefits__item">
            <svg class="about-benefits__icon">
              <use xlink:href="img/icons/about/phone.svg#phone"></use>
            </svg>
            <span>Отзывчивые менеджеры</span>
          </li>
        </ul>
        <p class="about__info-descr">У нас более 20 лет опыта в производстве собственного оборудовая для тракторов и
          мотоблочной техники</p>
        <p class="about__info-text">Профессионализм наших конструкторов, инженеров и технических специалистов в
          сочетании с прогрессивной материально-технической базой и ответственным отношением к своему труду позволяют
          нам гордиться своей продукцией, которая известна во всех уголках Российской Федерации.</p>
        <button class="btn-reset about__btn">
          <span>Подробнее о компании</span>
          <svg class="about__btn-icon">
            <use xlink:href="img/icons/about/arrow-btn.svg#arrow-btn"></use>
          </svg>
        </button>
      </div>
      <div class="about__edge about-edge">
        <ul class="list-reset about-edge__list grid">
          <li class="about-edge__item">
            <span class="about-edge__num">101+</span>
            <span class="about-edge__descr">единиц техники и оборудования собственного производства</span>
          </li>
          <li class="about-edge__item">
            <span class="about-edge__num">30+</span>
            <span class="about-edge__descr">собственных разработок запущенных в производство</span>
          </li>
          <li class="about-edge__item">
            <span class="about-edge__num">20+</span>
            <span class="about-edge__descr">лет на рынке производства оборудования</span>
          </li>
          <li class="about-edge__item">
            <span class="about-edge__num">6+</span>
            <span class="about-edge__descr">месяцев гарантия на все наше оборудования</span>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
