<div class="banner">
  <div class="container">
    <div class="swiper-body swiper-body__second">
      <div class="swiper banner__swiper banner__second">
        <div class="swiper-wrapper banner__wrapper">
          <div class="swiper-slide banner__slide">
            <picture class="banner__slide-pic">
              <source srcset="/img/banners/banner3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="/img/banners/banner3.jpg"
                class="image"
                width="1240"
                height="202"
                alt="Изображение баннера"
              />
            </picture>
          </div>
          <div class="swiper-slide banner__slide">
            <picture class="banner__slide-pic">
              <source srcset="/img/banners/banner4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="/img/banners/banner4.jpg"
                class="image"
                width="1240"
                height="202"
                alt="Изображение баннера"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-body__btn swiper-body__btn-prev"></div>
      <div class="swiper-body__btn swiper-body__btn-next"></div>
    </div>
  </div>
</div>
