<div class="banner">
  <div class="container">
    <div class="swiper-body swiper-body__second">
      <div class="swiper banner__swiper banner__second">
        <div class="swiper-wrapper banner__wrapper">
           <div class="swiper-slide banner__slide banner__slide--second1">
            <!-- <img src="../img/banner-second/banner-second1.png" alt=""> -->
           </div>
          <!--<div class="swiper-slide banner__slide">Slide 2</div>
          <div class="swiper-slide banner__slide">Slide 3</div> -->
        </div>
      </div>
      <div class="swiper-body__btn swiper-body__btn-prev"></div>
      <div class="swiper-body__btn swiper-body__btn-next"></div>
    </div>
  </div>
</div>
