<section class="banner">
  <h1 class="visually-hidden">Навесное оборудование для тракторов и мотоблоков</h1>
  <div class="container">
    <div class="swiper-body swiper-body__main">
      <div class="swiper banner__swiper banner__main">
        <div class="swiper-wrapper banner__wrapper">
          <div class="swiper-slide banner__slide banner__slide--main1">
            <div class="banner__main-content">
              <h2 class="banner__main-title">Мы лидеры российского рынка<br>
                по производству навесного оборудования</h2>
              <p class="banner__main-descr">На нашем предприятии используются только самые современные методы
                производства,<br>которые позволяют нам оставаться лучшими в течении уже более двадцати лет</p>
            </div>
          </div>
          <div class="swiper-slide banner__slide banner__slide--main2">
            <div class="banner__main-content">
              <h2 class="banner__main-title">Только самое лучшее оборудование<br>для наших покупателей</h2>
              <p class="banner__main-descr">Мы предлагаем современное оборудование для тракторов и мотоблоков <br>произведенное на собственном заводе в г. Чебоксары</p>
            </div>
          </div>
          <div class="swiper-slide banner__slide banner__slide--main3">
            <div class="banner__main-content">
              <h2 class="banner__main-title">Оптовые и розничные продажи<br>навесного оборудования</h2>
              <p class="banner__main-descr">АГРОТЕХ21 динамично развивается, расширяя номенклатуру<br> производства и постоянно модернизирует свою продукцию</p>
            </div>
          </div>
          <div class="swiper-slide banner__slide banner__slide--main4">
            <div class="banner__main-content">
              <h2 class="banner__main-title">Гибкие условия для доставки<br>и получения вашего заказа</h2>
              <p class="banner__main-descr">Мы доставляем наше оборудование с помощью транспортных <br>компаний по всей территории Российской федерации</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-body__btn swiper-body__btn-prev"></div>
      <div class="swiper-body__btn swiper-body__btn-next"></div>
    </div>
  </div>
</section>
