<div class="benefits">
  <div class="container">
    <ul class="benefits__list list-reset grid">
      <li class="benefits__item">
        <h4 class="benefits__title">Большой ассортимент</h4>
        <p class="benefits__subtitle">тракторной и мотоблочной навески</p>
      </li>
      <li class="benefits__item">
        <h4 class="benefits__title">Доставка материалов</h4>
        <p class="benefits__subtitle">отделочных материалов всегда в наличии</p>
      </li>
      <li class="benefits__item">
        <h4 class="benefits__title">Более 20 лет на рынке</h4>
        <p class="benefits__subtitle">огромный опыт в производстве оборудования</p>
      </li>
      <li class="benefits__item">
        <h4 class="benefits__title">Удобные способы оплаты</h4>
        <p class="benefits__subtitle">отделочных материалов всегда в наличии</p>
      </li>
    </ul>
  </div>
</div>
