<section class="cart">
  <div class="container">
    <h2 class="cart__title title page-title">Корзина</h2>
    <div class="cart_body grid">
      <div class="cart__inner">
        <!-- <div class="cart__data"> -->
        <!-- </div> -->
      </div>
      <div class="cart__info cart-info">
        <div class="cart-info__data">
          <p class="cart-info__title">Ваш заказ:</p>
          <ul class="cart-info__list list-reset">
            <li class="cart-info__item">
              <span class="cart-info__text">Позиций:</span>
              <span class="cart-info__value" id="orderCount"></span>
            </li>
            <li class="cart-info__item">
              <span class="cart-info__text">Итого:</span>
              <span class="cart-info__value" id="orderTotal"
                ><span></span><span> руб.</span></span
              >
            </li>
          </ul>
          <a class="btn-prim cart-info__btn" href="#">Перейти к оформлению</a>
          <p class="cart-info__descr">
            После оформления наш менеджер свяжется с вами для подтверждения
            заказа
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
