<section class="cart">
  <div class="container">
    <h2 class="cart__title title">
      Корзина
    </h2>
    <div class="cart_body grid">
      <div class="cart__inner">
        <!-- <div class="cart__data"> -->
          <div class="cart__product cart-product">
            <a class="cart-product__img" href="#">
              <picture class="cart-product__pic">
                <source srcset="img/macbook-2.webp" type="image/webp">
                <img loading="lazy" src="img/macbook-2.jpg" class="image" width="140" height="140"
                  alt="Изображение товара">
              </picture>
              <a class="cart-product__title" href="#">Адаптер рулевым управлением АР-1 для мотоблока НЕВА (шина 4.00-10)</a>
              <div class="cart-product__action">
                  <button class="cart-product__del btn-reset">
                    <span>Удалить</span>
                  </button>
                  <div class="cart-product__control">
                    <div class="stepper">
                      <label class="stepper__field">
                        <input type="text" value="1" maxlength="3" class="stepper__input input-reset">
                      </label>
                      <div class="stepper__btns">
                        <button class="stepper__btn stepper__btn--down stepper__btn--disabled btn-reset" aria-label="Уменьшить количество">
                          <svg width="14" height="14" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13Z"
                              fill="black" />
                          </svg>
                        </button>
                        <button class="stepper__btn stepper__btn--up btn-reset" aria-label="Увеличить количество">
                          <svg width="14" height="14" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M11.0019 20C11.0019 20.5523 11.4497 21 12.0019 21C12.5542 21 13.0019 20.5523 13.0019 20L13.0019 12.9999L20.0019 12.9999C20.5542 12.9999 21.0019 12.5522 21.0019 11.9999C21.0019 11.4476 20.5542 10.9999 20.0019 10.9999H13.0019L13.0019 4C13.0019 3.44772 12.5542 3 12.0019 3C11.4497 3 11.0019 3.44772 11.0019 4V10.9999H4.00195C3.44967 10.9999 3.00195 11.4476 3.00195 11.9999C3.00195 12.5522 3.44967 12.9999 4.00195 12.9999H11.0019V20Z"
                              fill="black" />
                          </svg>
                        </button>
                      </div>
                    </div>
                    <p class="cart-product__price">
                      <span class="cart-product__current">600</span><span class="cart-product__unit"> ₽/шт.</span>
                    </p>
                  </div>
              </div>
            </a>
          <!-- </div> -->
        </div>
        <!-- <div class="cart__data"> -->
          <div class="cart__product cart-product">
            <a class="cart-product__img" href="#">
              <picture class="cart-product__pic">
                <source srcset="img/macbook-2.webp" type="image/webp">
                <img loading="lazy" src="img/macbook-2.jpg" class="image" width="140" height="140"
                  alt="Изображение товара">
              </picture>
              <a class="cart-product__title" href="#">Адаптер рулевым управлением АР-1 для мотоблока НЕВА (шина 4.00-10)</a>
              <div class="cart-product__action">
                  <button class="cart-product__del btn-reset">
                    <span>Удалить</span>
                  </button>
                  <div class="cart-product__control">
                    <div class="stepper">
                      <label class="stepper__field">
                        <input type="text" value="1" maxlength="3" class="stepper__input input-reset">
                      </label>
                      <div class="stepper__btns">
                        <button class="stepper__btn stepper__btn--down stepper__btn--disabled btn-reset" aria-label="Уменьшить количество">
                          <svg width="14" height="14" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13Z"
                              fill="black" />
                          </svg>
                        </button>
                        <button class="stepper__btn stepper__btn--up btn-reset" aria-label="Увеличить количество">
                          <svg width="14" height="14" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M11.0019 20C11.0019 20.5523 11.4497 21 12.0019 21C12.5542 21 13.0019 20.5523 13.0019 20L13.0019 12.9999L20.0019 12.9999C20.5542 12.9999 21.0019 12.5522 21.0019 11.9999C21.0019 11.4476 20.5542 10.9999 20.0019 10.9999H13.0019L13.0019 4C13.0019 3.44772 12.5542 3 12.0019 3C11.4497 3 11.0019 3.44772 11.0019 4V10.9999H4.00195C3.44967 10.9999 3.00195 11.4476 3.00195 11.9999C3.00195 12.5522 3.44967 12.9999 4.00195 12.9999H11.0019V20Z"
                              fill="black" />
                          </svg>
                        </button>
                      </div>
                    </div>
                    <p class="cart-product__price">
                      <span class="cart-product__current">600</span><span class="cart-product__unit"> ₽/шт.</span>
                    </p>
                  </div>
              </div>
            </a>
          </div>
        <!-- </div> -->
        <!-- <div class="cart__data"> -->
          <div class="cart__product cart-product">
            <a class="cart-product__img" href="#">
              <picture class="cart-product__pic">
                <source srcset="img/macbook-2.webp" type="image/webp">
                <img loading="lazy" src="img/macbook-2.jpg" class="image" width="140" height="140"
                  alt="Изображение товара">
              </picture>
              <a class="cart-product__title" href="#">Адаптер рулевым управлением АР-1 для мотоблока НЕВА (шина 4.00-10)</a>
              <div class="cart-product__action">
                  <button class="cart-product__del btn-reset">
                    <span>Удалить</span>
                  </button>
                  <div class="cart-product__control">
                    <div class="stepper">
                      <label class="stepper__field">
                        <input type="text" value="1" maxlength="3" class="stepper__input input-reset">
                      </label>
                      <div class="stepper__btns">
                        <button class="stepper__btn stepper__btn--down stepper__btn--disabled btn-reset" aria-label="Уменьшить количество">
                          <svg width="14" height="14" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13Z"
                              fill="black" />
                          </svg>
                        </button>
                        <button class="stepper__btn stepper__btn--up btn-reset" aria-label="Увеличить количество">
                          <svg width="14" height="14" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M11.0019 20C11.0019 20.5523 11.4497 21 12.0019 21C12.5542 21 13.0019 20.5523 13.0019 20L13.0019 12.9999L20.0019 12.9999C20.5542 12.9999 21.0019 12.5522 21.0019 11.9999C21.0019 11.4476 20.5542 10.9999 20.0019 10.9999H13.0019L13.0019 4C13.0019 3.44772 12.5542 3 12.0019 3C11.4497 3 11.0019 3.44772 11.0019 4V10.9999H4.00195C3.44967 10.9999 3.00195 11.4476 3.00195 11.9999C3.00195 12.5522 3.44967 12.9999 4.00195 12.9999H11.0019V20Z"
                              fill="black" />
                          </svg>
                        </button>
                      </div>
                    </div>
                    <p class="cart-product__price">
                      <span class="cart-product__current">600</span><span class="cart-product__unit"> ₽/шт.</span>
                    </p>
                  </div>
              </div>
            </a>
          </div>
        <!-- </div> -->
      </div>
      <div class="cart__info cart-info">
        <div class="cart-info__data">
          <p class="cart-info__title">Ваш заказ:</p>
          <ul class="cart-info__list list-reset">
            <li class="cart-info__item">
              <span class="cart-info__text">Позиций:</span>
              <span class="cart-info__value">3</span>
            </li>
            <li class="cart-info__item">
              <span class="cart-info__text">Итого:</span>
              <span class="cart-info__value">996 000<span> руб.</span></span>
            </li>
          </ul>
          <a class="btn-prim cart-info__btn" href="#">Перейти к оформлению</a>
          <p class="cart-info__descr">После оформления наш менеджер свяжется с вами для подтверждения заказа</p>
        </div>

      </div>
    </div>


  </div>
</section>
