<section class="category">
  <div class="container">
    <h2 class="title category__title">Наши категории</h2>
    <ul class="category__list category-list list-reset grid">
      <li class="category-list__item">
          <a class="category-list__link" href="#">
            <h3 class="category-list__title">Мотоблочная навеска</h3>
          </a>
          <p class="category-list__subtitle">позволяет сэкономить средства и облегчить ручной труд</p>
      </li>
      <li class="category-list__item">
        <a class="category-list__link" href="#">
          <h3 class="category-list__title">Тракторная навеска</h3>
          <p class="category-list__subtitle">навесное и прицепное агрегатированое оборудование</p>
        </a>
      </li>
      <li class="category-list__item">
        <a class="category-list__link" href="#">
          <h3 class="category-list__title">Дополнительное оборудование</h3>
          <p class="category-list__subtitle">позволяет повысить показатели вашей техники</p>
        </a>
      </li>
    </ul>
  </div>
</section>
