<footer class="footer">
  <div class="container">
    <div class="footer__info">
      <a class="footer__logo logo" href="#">
        <img src="img/logo.svg" alt="Логотип компании">
      </a>
      <p class="footer__about">Навесное оборудования для тракторов и мотоблоков</p>
    </div>
    <div class="footer__control grid">
      <ul class="list-reset footer__list">
        <li class="footer__item">
          <p class="footer__title">Покупателям</p>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">О нас</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Доставка и самовывоз</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Оплата</a>
        </li>
        <li>
          <a class="footer__link" href="#">Для партнеров</a>
        </li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__item">
          <p class="footer__title">Покупателям</p>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Перейти в каталог товаров </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Политика конфеденциальности</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Частые вопросы</a>
        </li>
        <li>
          <a class="footer__link" href="#">Условия возврата</a>
        </li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__item">
          <p class="footer__title">Обратная связь</p>
        </li>
        <li class="footer__item">
          <svg class="footer__icon">
            <use xlink:href="img/icons/social/whatsapp.svg#whatsapp"></use>
          </svg>
          <a class="footer__link" href="#">WhatsApp</a>
        </li>
        <li class="footer__item">
          <svg class="footer__icon">
            <use xlink:href="img/icons/mail-white.svg#mail-white"></use>
          </svg>
          <a class="footer__link" href="#">info@finish-trade.ru</a>
        </li>
        <li class="footer__item">
          <svg class="footer__icon">
            <use xlink:href="img/icons/phone-white.svg#phone-white"></use>
          </svg>
          <a class="footer__link" href="#">8 (926) 726-72-06</a>
        </li>
        <li class="footer__item">
          <svg class="footer__icon">
            <use xlink:href="img/icons/clock-white.svg#clock-white"></use>
          </svg>
          <p class="footer__graph">Ежедневно с 8:00 до 23:00</p>
        </li>
      </ul>
      <form class="footer__subscr footer-subscr">
        <p class="footer-subscr__title">Подпишитесь</p>
        <p class="footer-subscr__descr">на наши новости, чтобы быть вкурсе выгодных предложений</p>
        <label class="footer-subscr__label">
          <input class="footer-subscr__input input-reset" type="email" placeholder="Введите адрес эл. почты" required>
        </label>
        <button type="submit" class="btn-reset footer-subscr__btn btn-prim">Подписаться</button>
        <p class="footer-subscr__click">Нажимая на кнопку, я принимаю
          <a class="footer-subscr__politics" href="#">Политику обработки персональных данных</a>
          и соглашаюсь получать сообщения.
        </p>
      </form>
    </div>
    <div class="footer__copyright">
      <p class="footer__copyright__text" >© 2002 – 2022 «Агротех 21»</p>
    </div>
  </div>
</footer>
