<section class="goods">
  <div class="container">
    <h3 class="goods__title title">Наименование продукта</h3>

    <div class="tabs" data-tabs="tab">
      <ul class="tabs__nav list-reset">
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">О товаре</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Описание товара</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Характеристики</button></li>
      </ul>
      <div class="goods__section grid goods__section__grid">
        <div class="tabs__content">
          <div class="tabs__panel">
            <div class="tabs__goods grid">
              <div class="tabs__swiper">
                <div class="swiper goods__swiper">
                  <div class="swiper-wrapper goods__wrapper">
                    <div class="swiper-slide goods__slide">
                      <picture class="goods__slide-pic">
                        <source srcset="img/img-test/img1.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img1.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                    <div class="swiper-slide goods__slide">
                      <picture class="goods__slide-pic">
                        <source srcset="img/img-test/img2.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img2.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                    <div class="swiper-slide goods__slide">
                      <picture class="goods__slide-pic">
                        <source srcset="img/img-test/img3.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img3.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                    <div class="swiper-slide goods__slide">
                      <picture class="goods__slide-pic">
                        <source srcset="img/img-test/img4.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img4.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                    <div class="swiper-slide goods__slide">
                      <picture class="goods__slide-pic">
                        <source srcset="img/img-test/img5.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img5.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                    <div class="swiper-slide goods__slide">
                      <picture class="goods__slide-pic">
                        <source srcset="img/img-test/img6.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img6.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                  </div>
                </div>
                <!-- мини слайдер -->
                <div class="swiper goods__mini-swiper">
                  <div class="swiper-wrapper goods__mini-wrapper">
                    <div class="swiper-slide goods__mini-slide">
                      <picture class="goods__mini-pic">
                        <source srcset="img/img-test/img1.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img1.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                    <div class="swiper-slide goods__mini-slide">
                      <picture class="goods__mini-pic">
                        <source srcset="img/img-test/img2.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img2.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                    <div class="swiper-slide goods__mini-slide">
                      <picture class="goods__slide-pic">
                        <source srcset="img/img-test/img3.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img3.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                    <div class="swiper-slide goods__mini-slide">
                      <picture class="goods__mini-pic">
                        <source srcset="img/img-test/img4.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img4.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                    <div class="swiper-slide goods__mini-slide">
                      <picture class="goods__mini-pic">
                        <source srcset="img/img-test/img5.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img5.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                    <div class="swiper-slide goods__mini-slide">
                      <picture class="goods__mini-pic">
                        <source srcset="img/img-test/img6.webp" type="image/webp" />
                        <img loading="lazy" src="img/img-test/img6.jpg" class="image" width="" height=""
                          alt="Изображение товара" />
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
              <div class="goods__descr goods-descr">
                <div class="goods-descr__block">
                  <h4 class="goods-descr__title">Описание</h4>
                  <p class="goods-descr__text">Далеко-далеко за словесными горами в стране гласных и согласных живут
                    рыбные тексты. Текста
                    предупредила толку не, маленький но рыбного на берегу они грустный всемогущая? Языком своих своего
                    предупредила себя послушавшись свой переписали собрал!</p>
                </div>
                <div class="goods-descr__block goods-descr__block--hide" id="good-info">
                  <button class="btn-reset goods-descr__all-btn goods-descr__all-btn--hide">Показать все</button>
                  <h4 class="goods-descr__title">Характеристики</h4>
                  <ul class="goods-descr__list list-reset">
                    <li class="goods-descr__item">
                      <span class="goods-descr__naim">св-во хар-ки</span>
                      <span class="goods-descr__value">характеристика</span>
                    </li>
                    <li class="goods-descr__item">
                      <span class="goods-descr__naim">свойство</span>
                      <span class="goods-descr__value">значение хар-ки</span>
                    </li>
                    <li class="goods-descr__item">
                      <span class="goods-descr__naim">св-во хар-ки</span>
                      <span class="goods-descr__value">значение</span>
                    </li>
                    <li class="goods-descr__item">
                      <span class="goods-descr__naim">свойство</span>
                      <span class="goods-descr__value">значение хар-ки</span>
                    </li>
                    <li class="goods-descr__item">
                      <span class="goods-descr__naim">свойство</span>
                      <span class="goods-descr__value">значение хар-ки</span>
                    </li>
                    <li class="goods-descr__item">
                      <span class="goods-descr__naim">свойство</span>
                      <span class="goods-descr__value">значение хар-ки</span>
                    </li>
                    <li class="goods-descr__item">
                      <span class="goods-descr__naim">свойство</span>
                      <span class="goods-descr__value">значение хар-ки</span>
                    </li>
                    <li class="goods-descr__item">
                      <span class="goods-descr__naim">свойство</span>
                      <span class="goods-descr__value">значение хар-ки</span>
                    </li>
                    <li class="goods-descr__item">
                      <span class="goods-descr__naim">свойство</span>
                      <span class="goods-descr__value">значение хар-ки</span>
                    </li>
                    <li class="goods-descr__item">
                      <span class="goods-descr__naim">свойство</span>
                      <span class="goods-descr__value">значение хар-ки</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="goods-descr__block">
            <h4 class="goods-descr__title">Описание</h4>
            <p class="goods-descr__text">Далеко-далеко за словесными горами в стране гласных и согласных живут
              рыбные тексты. Текста
              предупредила толку не, маленький но рыбного на берегу они грустный всемогущая? Языком своих своего
              предупредила себя послушавшись свой переписали собрал!</p>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="goods-descr__block">
            <h4 class="goods-descr__title">Характеристики</h4>
            <ul class="goods-descr__list list-reset">
              <li class="goods-descr__item">
                <span class="goods-descr__naim">св-во хар-ки</span>
                <span class="goods-descr__value">характеристика</span>
              </li>
              <li class="goods-descr__item">
                <span class="goods-descr__naim">свойство</span>
                <span class="goods-descr__value">значение хар-ки</span>
              </li>
              <li class="goods-descr__item">
                <span class="goods-descr__naim">св-во хар-ки</span>
                <span class="goods-descr__value">значение</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="goods__control goods-control">
          <div class="goods-control__info">
            <div class="goods-control__cost">
              <span class="product__value goods-control__value">Цена</span>
              <p class="product__price product-price goods-control__price">

                <span class="product-price__current goods-control__current">9 000</span
                ><span class="product-price__unit goods-control__unit"> ₽/шт.</span>
              </p>
            </div>
            <div class="goods-control__btns">
              <a class="product__btn btn-reset btn-card" href="#"
                >В корзину</a
              >

              @include('stepper.html')

            </div>
            <p class="goods-control__descr">Доступные способы получения заказа можно выбрать при оформлении заказа</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
