<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__inner">
        <div class="header__info">
          <svg class="icon">
            <use xlink:href="img/icons/map.svg#map"></use>
          </svg>
          <span class="header__location-name">г. Чебоксары</span>
        </div>
        <nav class="header__nav">
          <ul class="header__nav-list list-reset">
            <li class="header__nav-item">
              <a class="heaer__nav-link" href="#">О компании</a>
            </li>
            <li class="header__nav-item">
              <a class="heaer__nav-link" href="#">Доставка и оплата</a>
            </li>
            <li class="header__nav-item">
              <a class="heaer__nav-link" href="#">Наши контакты</a>
            </li>
            <li class="header__nav-item">
              <a class="heaer__nav-link" href="#">Для партнеров</a>
            </li>
          </ul>
        </nav>
        <div class="header__info">
          <svg class="icon">
            <use xlink:href="img/icons/phone.svg#phone"></use>
          </svg>
          <a class="phone-link" href="tel:+79373883349">+7 (937) 388-33-49</a>
          <button class="header__phone-btn btn-reset">
            <svg class="arrow-icon">
              <use xlink:href="img/icons/arrow.svg#arrow"></use>
            </svg>
          </button>
          <div class="header__socials">
            <h5 class="header__socials-title">Написать нам:</h5>
            <ul class="header__socials-list list-reset">
              <li class="header__socials-item">
                <a class="header__socials-link" href="#">
                  <svg class="social-icon">
                    <use
                      xlink:href="img/icons/social/whatsapp.svg#whatsapp"
                    ></use>
                  </svg>
                  <span class="header__socials-name">WhatsApp</span>
                </a>
              </li>
              <li class="header__socials-item">
                <a class="header__socials-link" href="#">
                  <svg class="social-icon">
                    <use xlink:href="img/icons/mail.svg#mail"></use>
                  </svg>
                  <span class="header__socials-name">Эл. почта</span>
                </a>
              </li>
            </ul>
            <h5 class="header__socials-title">Мы в соц. сетях::</h5>
            <ul class="header__socials-list list-reset">
              <li class="header__socials-item">
                <a class="header__socials-link" href="#">
                  <svg class="social-icon">
                    <use xlink:href="img/icons/social/vk.svg#vk"></use>
                  </svg>
                  <span class="header__socials-name">Группа VK</span>
                </a>
              </li>
              <li class="header__socials-item">
                <a class="header__socials-link" href="#">
                  <svg class="social-icon">
                    <use
                      xlink:href="img/icons/social/youtube.svg#youtube"
                    ></use>
                  </svg>
                  <span class="header__socials-name">Канал в Youtube</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__inner">
        <div class="header__main">
          <a class="logo" href="/">
            <span class="logo__name">АГРОТЕХ</span>
            <span class="logo__prefix">21</span>
          </a>
          <div class="header__catalog">
            <button class="header__catalog-btn btn-reset">
              <span class="header__catalog-btn__icon"></span>
              <span class="header__catalog-btn__text">Каталог</span>
            </button>
            <div class="catalog">
              <div class="catalog__left">
                <ul class="main-categories__list list-reset">
                  <li class="main-categories__item active">
                    <a class="main-categories__link" href="#"
                      ><span>Тракторная навеска</span>
                      <svg class="arrow-catalog">
                        <use xlink:href="img/icons/arrow.svg#arrow"></use></svg
                    ></a>
                  </li>
                  <li class="main-categories__item">
                    <a class="main-categories__link" href="#"
                      ><span>Мотоблочная навеска</span>
                      <svg class="arrow-catalog">
                        <use xlink:href="img/icons/arrow.svg#arrow"></use></svg
                    ></a>
                  </li>
                  <li class="main-categories__item">
                    <a class="main-categories__link" href="#"
                      ><span>Дополнительное оборудование</span>
                      <svg class="arrow-catalog">
                        <use xlink:href="img/icons/arrow.svg#arrow"></use></svg
                    ></a>
                  </li>
                </ul>
                <div class="catalog__socials">
                  <h4 class="catalog__socials-title">Наши контакты:</h4>
                  <div class="catalog__socials-wrapper">
                    <div class="catalog__socials-block">
                      <h5 class="header__socials-title">Написать нам:</h5>
                      <ul class="header__socials-list list-reset">
                        <li class="header__socials-item">
                          <a class="header__socials-link" href="#">
                            <svg class="social-icon">
                              <use
                                xlink:href="img/icons/social/whatsapp.svg#whatsapp"
                              ></use>
                            </svg>
                            <span class="header__socials-name">WhatsApp</span>
                          </a>
                        </li>
                        <li class="header__socials-item">
                          <a class="header__socials-link" href="#">
                            <svg class="social-icon">
                              <use xlink:href="img/icons/mail.svg#mail"></use>
                            </svg>
                            <span class="header__socials-name">Эл. почта</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="catalog__socials-block">
                      <h5 class="header__socials-title">Мы в соц. сетях::</h5>
                      <ul class="header__socials-list list-reset">
                        <li class="header__socials-item">
                          <a class="header__socials-link" href="#">
                            <svg class="social-icon">
                              <use
                                xlink:href="img/icons/social/vk.svg#vk"
                              ></use>
                            </svg>
                            <span class="header__socials-name">Группа VK</span>
                          </a>
                        </li>
                        <li class="header__socials-item">
                          <a class="header__socials-link" href="#">
                            <svg class="social-icon">
                              <use
                                xlink:href="img/icons/social/youtube.svg#youtube"
                              ></use>
                            </svg>
                            <span class="header__socials-name"
                              >Канал в Youtube</span
                            >
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__right">
                <div class="catalog__lists">
                  <ul class="sub-categories__list list-reset show">
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Культиваторы</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#"
                        >Бороны дисковые</a
                      >
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#"
                        >Бороны зубовые</a
                      >
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Опрыскиватели</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Грабли</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Ворошилки</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Отвалы</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Прицепы</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#"
                        >Картофелекопалки</a
                      >
                    </li>
                  </ul>
                  <ul class="sub-categories__list list-reset">
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Культиваторы</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#"
                        >Бороны дисковые</a
                      >
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#"
                        >Бороны зубовые</a
                      >
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Опрыскиватели</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Грабли</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Ворошилки</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Отвалы</a>
                    </li>
                  </ul>
                  <ul class="sub-categories__list list-reset">
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Культиваторы</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#"
                        >Бороны дисковые</a
                      >
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#"
                        >Бороны зубовые</a
                      >
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Опрыскиватели</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Грабли</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Ворошилки</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Отвалы</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#">Прицепы</a>
                    </li>
                    <li class="sub-categories__item">
                      <a class="sub-categories__link" href="#"
                        >Картофелекопалки</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="catalog__img show">
                  <img src="../img/macbook-1.jpg" alt="Категория" />
                </div>
                <div class="catalog__img">
                  <img src="../img/macbook-2.jpg" alt="Категория" />
                </div>
                <div class="catalog__img">
                  <img src="../img/macbook-3.jpg" alt="Категория" />
                </div>
              </div>
            </div>
          </div>
          <form class="header__search">
            <input
              class="header__search-input input-reset"
              type="text"
              placeholder="Поиск по товарам..."
            />
            <button class="header__search-btn btn-reset">
              <svg class="icon">
                <use xlink:href="img/icons/search.svg#search"></use>
              </svg>
            </button>
          </form>
        </div>
        <div class="header__actions">
          <div class="header__favorite">
            <svg class="icon">
              <use xlink:href="img/icons/heart.svg#heart"></use>
            </svg>
          </div>
          <a class="header__cart" href="../page-cart.html">
            <span class="header__cart-name">Корзина</span>
            <div class="header__cart-icon">
              <svg class="icon">
                <use xlink:href="img/icons/cart.svg#cart"></use>
              </svg>
              <span class="header__cart-quantity"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
