<section class="product-slide">
  <div class="container product-slide__container">
    <h2 class="title product-slide__title">Новинки</h2>
    <p class="subtitle product-slide__subtitle">
      Посмотрите наши самые новые товары
    </p>
    <div class="swiper list-products">
      <div class="swiper-wrapper list-products__wrapper">
        <div class="swiper-slide list-products__slide">
          <article class="product">
            <a class="product__image" href="#">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-1.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-1.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-1.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-2.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-2.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-2.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-3.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-3.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-3.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
              </div>
              <ul
                class="product__image-pagination image-pagination"
                aria-hidden="true"
              ></ul>
            </a>
            <!-- общий div в карточке товара для данных -->
            <div class="product__data">
              <div class="product__naim">
                <h3 class="product__title">
                  <a class="product__link" href="#"
                    >Борона дисковая – дискатор 2,7х2П</a
                  >
                </h3>
                <!-- <p class="product__descr">А также предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p> -->
              </div>
              <!-- div для flex -->
              <div class="product__info">
                <div class="product__price">
                  <span class="product__value">Цена</span>
                  <p class="product__price product-price">
                    <span class="product-price__current">9 000</span
                    ><span class="product-price__unit"> ₽/шт.</span>
                    <!-- <span class="product-price__old">850</span> -->
                  </p>
                </div>
                <!-- общий div для кнопок -->
                <div class="product__control">
                  <a class="product__btn btn-reset btn-card" href="#"
                    >В корзину</a
                  >
                  <div class="product__stepper stepper">
                    <label class="stepper__field">
                      <input
                        type="number"
                        value="1"
                        maxlength="3"
                        class="stepper__input input-reset"
                      />
                    </label>
                    <div class="stepper__btns">
                      <button
                        class="stepper__btn stepper__btn--down stepper__btn--disabled btn-reset"
                        aria-label="Уменьшить количество"
                        data-action="minus"
                      >
                        <svg
                          width="14"
                          height="14"
                          viewbox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13Z"
                            fill="black"
                          />
                        </svg>
                      </button>
                      <button
                        class="stepper__btn stepper__btn--up btn-reset"
                        aria-label="Увеличить количество"
                        data-action="plus"
                      >
                        <svg
                          width="14"
                          height="14"
                          viewbox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M11.0019 20C11.0019 20.5523 11.4497 21 12.0019 21C12.5542 21 13.0019 20.5523 13.0019 20L13.0019 12.9999L20.0019 12.9999C20.5542 12.9999 21.0019 12.5522 21.0019 11.9999C21.0019 11.4476 20.5542 10.9999 20.0019 10.9999H13.0019L13.0019 4C13.0019 3.44772 12.5542 3 12.0019 3C11.4497 3 11.0019 3.44772 11.0019 4V10.9999H4.00195C3.44967 10.9999 3.00195 11.4476 3.00195 11.9999C3.00195 12.5522 3.44967 12.9999 4.00195 12.9999H11.0019V20Z"
                            fill="black"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide list-products__slide">
          <article class="product">
            <a class="product__image" href="#">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-1.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-1.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-1.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-2.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-2.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-2.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-3.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-3.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-3.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
              </div>
              <ul
                class="product__image-pagination image-pagination"
                aria-hidden="true"
              ></ul>
            </a>
            <!-- общий div в карточке товара для данных -->
            <div class="product__data">
              <div class="product__naim">
                <h3 class="product__title">
                  <a class="product__link" href="#"
                    >Картофелекопалка ККМ-4 для минитрактора</a
                  >
                </h3>
                <!-- <p class="product__descr">А также предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p> -->
              </div>
              <!-- div для flex -->
              <div class="product__info">
                <div class="product__price">
                  <span class="product__value">Цена</span>
                  <p class="product__price product-price">
                    <span class="product-price__current">1 250</span
                    ><span class="product-price__unit"> ₽/шт.</span>
                    <!-- <span class="product-price__old">850</span> -->
                  </p>
                </div>
                <!-- общий div для кнопок -->
                <div class="product__control">
                  <a class="product__btn btn-reset btn-card" href="#"
                    >В корзину</a
                  >
                  <div class="product__stepper stepper">
                    <label class="stepper__field">
                      <input
                        type="number"
                        value="1"
                        maxlength="3"
                        class="stepper__input input-reset"
                      />
                    </label>
                    <div class="stepper__btns">
                      <button
                        class="stepper__btn stepper__btn--down stepper__btn--disabled btn-reset"
                        aria-label="Уменьшить количество"
                        data-action="minus"
                      >
                        <svg
                          width="14"
                          height="14"
                          viewbox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13Z"
                            fill="black"
                          />
                        </svg>
                      </button>
                      <button
                        class="stepper__btn stepper__btn--up btn-reset"
                        aria-label="Увеличить количество"
                        data-action="plus"
                      >
                        <svg
                          width="14"
                          height="14"
                          viewbox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M11.0019 20C11.0019 20.5523 11.4497 21 12.0019 21C12.5542 21 13.0019 20.5523 13.0019 20L13.0019 12.9999L20.0019 12.9999C20.5542 12.9999 21.0019 12.5522 21.0019 11.9999C21.0019 11.4476 20.5542 10.9999 20.0019 10.9999H13.0019L13.0019 4C13.0019 3.44772 12.5542 3 12.0019 3C11.4497 3 11.0019 3.44772 11.0019 4V10.9999H4.00195C3.44967 10.9999 3.00195 11.4476 3.00195 11.9999C3.00195 12.5522 3.44967 12.9999 4.00195 12.9999H11.0019V20Z"
                            fill="black"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide list-products__slide">
          <article class="product">
            <a class="product__image" href="#">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-1.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-1.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-1.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-2.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-2.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-2.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-3.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-3.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-3.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
              </div>
              <ul
                class="product__image-pagination image-pagination"
                aria-hidden="true"
              ></ul>
            </a>
            <!-- общий div в карточке товара для данных -->
            <div class="product__data">
              <div class="product__naim">
                <h3 class="product__title">
                  <a class="product__link" href="#"
                    >Тележка для минитрактора Т-4</a
                  >
                </h3>
                <!-- <p class="product__descr">А также предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p> -->
              </div>
              <!-- div для flex -->
              <div class="product__info">
                <div class="product__price">
                  <span class="product__value">Цена</span>
                  <p class="product__price product-price">
                    <span class="product-price__current">6 000</span
                    ><span class="product-price__unit"> ₽/шт.</span>
                    <!-- <span class="product-price__old">850</span> -->
                  </p>
                </div>
                <!-- общий div для кнопок -->
                <div class="product__control">
                  <a class="product__btn btn-reset btn-card" href="#"
                    >В корзину</a
                  >
                  <div class="product__stepper stepper">
                    <label class="stepper__field">
                      <input
                        type="number"
                        value="1"
                        maxlength="3"
                        class="stepper__input input-reset"
                      />
                    </label>
                    <div class="stepper__btns">
                      <button
                        class="stepper__btn stepper__btn--down stepper__btn--disabled btn-reset"
                        aria-label="Уменьшить количество"
                        data-action="minus"
                      >
                        <svg
                          width="14"
                          height="14"
                          viewbox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13Z"
                            fill="black"
                          />
                        </svg>
                      </button>
                      <button
                        class="stepper__btn stepper__btn--up btn-reset"
                        aria-label="Увеличить количество"
                        data-action="plus"
                      >
                        <svg
                          width="14"
                          height="14"
                          viewbox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M11.0019 20C11.0019 20.5523 11.4497 21 12.0019 21C12.5542 21 13.0019 20.5523 13.0019 20L13.0019 12.9999L20.0019 12.9999C20.5542 12.9999 21.0019 12.5522 21.0019 11.9999C21.0019 11.4476 20.5542 10.9999 20.0019 10.9999H13.0019L13.0019 4C13.0019 3.44772 12.5542 3 12.0019 3C11.4497 3 11.0019 3.44772 11.0019 4V10.9999H4.00195C3.44967 10.9999 3.00195 11.4476 3.00195 11.9999C3.00195 12.5522 3.44967 12.9999 4.00195 12.9999H11.0019V20Z"
                            fill="black"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide list-products__slide">
          <article class="product">
            <a class="product__image" href="#">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-1.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-1.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-1.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-2.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-2.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-2.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-3.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-3.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-3.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
              </div>
              <ul
                class="product__image-pagination image-pagination"
                aria-hidden="true"
              ></ul>
            </a>
            <!-- общий div в карточке товара для данных -->
            <div class="product__data">
              <div class="product__naim">
                <h3 class="product__title">
                  <a class="product__link" href="#"
                    >Окучник трехрядный в сборе</a
                  >
                </h3>
                <!-- <p class="product__descr">А также предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p> -->
              </div>
              <!-- div для flex -->
              <div class="product__info">
                <div class="product__price">
                  <span class="product__value">Цена</span>
                  <p class="product__price product-price">
                    <span class="product-price__current">1 200</span
                    ><span class="product-price__unit"> ₽/шт.</span>
                    <!-- <span class="product-price__old">850</span> -->
                  </p>
                </div>
                <!-- общий div для кнопок -->
                <div class="product__control">
                  <a class="product__btn btn-reset btn-card" href="#"
                    >В корзину</a
                  >
                  <div class="product__stepper stepper">
                    <label class="stepper__field">
                      <input
                        type="number"
                        value="1"
                        maxlength="3"
                        class="stepper__input input-reset"
                      />
                    </label>
                    <div class="stepper__btns">
                      <button
                        class="stepper__btn stepper__btn--down stepper__btn--disabled btn-reset"
                        aria-label="Уменьшить количество"
                        data-action="minus"
                      >
                        <svg
                          width="14"
                          height="14"
                          viewbox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13Z"
                            fill="black"
                          />
                        </svg>
                      </button>
                      <button
                        class="stepper__btn stepper__btn--up btn-reset"
                        aria-label="Увеличить количество"
                        data-action="plus"
                      >
                        <svg
                          width="14"
                          height="14"
                          viewbox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M11.0019 20C11.0019 20.5523 11.4497 21 12.0019 21C12.5542 21 13.0019 20.5523 13.0019 20L13.0019 12.9999L20.0019 12.9999C20.5542 12.9999 21.0019 12.5522 21.0019 11.9999C21.0019 11.4476 20.5542 10.9999 20.0019 10.9999H13.0019L13.0019 4C13.0019 3.44772 12.5542 3 12.0019 3C11.4497 3 11.0019 3.44772 11.0019 4V10.9999H4.00195C3.44967 10.9999 3.00195 11.4476 3.00195 11.9999C3.00195 12.5522 3.44967 12.9999 4.00195 12.9999H11.0019V20Z"
                            fill="black"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide list-products__slide">
          <article class="product">
            <a class="product__image" href="#">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-1.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-1.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-1.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-2.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-2.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-2.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <!-- <img src="img/macbook-3.jpg" alt="Изображение товара"> -->
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-3.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="img/macbook-3.jpg"
                        class="image"
                        width="280"
                        height="280"
                        alt="Изображение товара"
                      />
                    </picture>
                  </div>
                </div>
              </div>
              <ul
                class="product__image-pagination image-pagination"
                aria-hidden="true"
              ></ul>
            </a>
            <!-- общий div в карточке товара для данных -->
            <div class="product__data">
              <div class="product__naim">
                <h3 class="product__title">
                  <a class="product__link" href="#"
                    >Опрыскиватель навесной ОП-400</a
                  >
                </h3>
                <!-- <p class="product__descr">А также предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p> -->
              </div>
              <!-- div для flex -->
              <div class="product__info">
                <div class="product__price">
                  <span class="product__value">Цена</span>
                  <p class="product__price product-price">
                    <span class="product-price__current">1 600</span
                    ><span class="product-price__unit"> ₽/шт.</span>
                    <!-- <span class="product-price__old">850</span> -->
                  </p>
                </div>
                <!-- общий div для кнопок -->
                <div class="product__control">
                  <a class="product__btn btn-reset btn-card" href="#"
                    >В корзину</a
                  >
                  <div class="product__stepper stepper">
                    <label class="stepper__field">
                      <input
                        type="number"
                        value="1"
                        maxlength="3"
                        class="stepper__input input-reset"
                      />
                    </label>
                    <div class="stepper__btns">
                      <button
                        class="stepper__btn stepper__btn--down stepper__btn--disabled btn-reset"
                        aria-label="Уменьшить количество"
                        data-action="minus"
                      >
                        <svg
                          width="14"
                          height="14"
                          viewbox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L4 13Z"
                            fill="black"
                          />
                        </svg>
                      </button>
                      <button
                        class="stepper__btn stepper__btn--up btn-reset"
                        aria-label="Увеличить количество"
                        data-action="plus"
                      >
                        <svg
                          width="14"
                          height="14"
                          viewbox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M11.0019 20C11.0019 20.5523 11.4497 21 12.0019 21C12.5542 21 13.0019 20.5523 13.0019 20L13.0019 12.9999L20.0019 12.9999C20.5542 12.9999 21.0019 12.5522 21.0019 11.9999C21.0019 11.4476 20.5542 10.9999 20.0019 10.9999H13.0019L13.0019 4C13.0019 3.44772 12.5542 3 12.0019 3C11.4497 3 11.0019 3.44772 11.0019 4V10.9999H4.00195C3.44967 10.9999 3.00195 11.4476 3.00195 11.9999C3.00195 12.5522 3.44967 12.9999 4.00195 12.9999H11.0019V20Z"
                            fill="black"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
