<section class="product-slide">
  <div class="container product-slide__container">
    <h2 class="title product-slide__title">Актуальные предложения</h2>
    <p class="subtitle product-slide__subtitle">
      Самые актуальные товары сезона по выгодным ценам.
    </p>
    <div class="swiper-body swiper-body__actual">
      <div class="swiper list-products products__slider-actual">
        <div class="swiper-wrapper list-products__wrapper">
          <div class="swiper-slide list-products__slide">
            <article class="product">
              <a class="product__image" href="#">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img1.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img1.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img2.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img2.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img3.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img3.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                </div>

                <ul
                  class="product__image-pagination image-pagination"
                  aria-hidden="true"
                ></ul>
              </a>
              <div class="product__data">
                <div class="product__naim">
                  <h3 class="product__title">
                    <a class="product__link" href="#"
                      >Адаптер рулевым управлением АР-1 для мотоблока НЕВА (шина
                      4.00-10)</a
                    >
                  </h3>
                </div>
                <div class="product__info">
                  <div class="product__price">
                    <span class="product__value">Цена</span>
                    <p class="product__price product-price">
                      <span class="product-price__current">9 000</span
                      ><span class="product-price__unit"> ₽/шт.</span>
                    </p>
                  </div>
                  <div class="product__control">
                    <a class="product__btn btn-reset btn-card" href="#"
                      >В корзину</a
                    >

                    @include('stepper.html')
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide list-products__slide">
            <article class="product">
              <a class="product__image" href="#">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img2.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img2.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img1.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img1.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                </div>

                <ul
                  class="product__image-pagination image-pagination"
                  aria-hidden="true"
                ></ul>
              </a>
              <div class="product__data">
                <div class="product__naim">
                  <h3 class="product__title">
                    <a class="product__link" href="#"
                      >Грабли колесно-пальцевые тракторные-5П (ГКПТ-5П)</a
                    >
                  </h3>
                </div>
                <div class="product__info">
                  <div class="product__price">
                    <span class="product__value">Цена</span>
                    <p class="product__price product-price">
                      <span class="product-price__current">1 250</span
                      ><span class="product-price__unit"> ₽/шт.</span>
                    </p>
                  </div>
                  <div class="product__control">
                    <a class="product__btn btn-reset btn-card" href="#"
                      >В корзину</a
                    >

                    @include('stepper.html')
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide list-products__slide">
            <article class="product">
              <a class="product__image" href="#">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img3.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img3.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img1.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img1.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img2.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img2.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                </div>

                <ul
                  class="product__image-pagination image-pagination"
                  aria-hidden="true"
                ></ul>
              </a>
              <div class="product__data">
                <div class="product__naim">
                  <h3 class="product__title">
                    <a class="product__link" href="#"
                      >Тележка для минитрактора Т-4</a
                    >
                  </h3>
                </div>
                <div class="product__info">
                  <div class="product__price">
                    <span class="product__value">Цена</span>
                    <p class="product__price product-price">
                      <span class="product-price__current">6 000</span
                      ><span class="product-price__unit"> ₽/шт.</span>
                    </p>
                  </div>
                  <div class="product__control">
                    <a class="product__btn btn-reset btn-card" href="#"
                      >В корзину</a
                    >

                    @include('stepper.html')
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide list-products__slide">
            <article class="product">
              <a class="product__image" href="#">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img9.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img9.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img8.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img8.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img2.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img2.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                </div>

                <ul
                  class="product__image-pagination image-pagination"
                  aria-hidden="true"
                ></ul>
              </a>
              <div class="product__data">
                <div class="product__naim">
                  <h3 class="product__title">
                    <a class="product__link" href="#"
                      >Ворошилка колесно-пальцевая ВМ-3 для мотоблока</a
                    >
                  </h3>
                </div>
                <div class="product__info">
                  <div class="product__price">
                    <span class="product__value">Цена</span>
                    <p class="product__price product-price">
                      <span class="product-price__current">5 999</span
                      ><span class="product-price__unit"> ₽/шт.</span>
                    </p>
                  </div>
                  <div class="product__control">
                    <a class="product__btn btn-reset btn-card" href="#"
                      >В корзину</a
                    >

                    @include('stepper.html')
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide list-products__slide">
            <article class="product">
              <a class="product__image" href="#">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img5.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img5.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source
                          srcset="img/img-test/img1.webp"
                          type="image/webp"
                        />
                        <img
                          loading="lazy"
                          src="img/img-test/img1.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                </div>

                <ul
                  class="product__image-pagination image-pagination"
                  aria-hidden="true"
                ></ul>
              </a>
              <div class="product__data">
                <div class="product__naim">
                  <h3 class="product__title">
                    <a class="product__link" href="#"
                      >Дискатор прицепной 6х4 (ДП-6Х4) с прикатывающим планчатым
                      катком</a
                    >
                  </h3>
                </div>
                <div class="product__info">
                  <div class="product__price">
                    <span class="product__value">Цена</span>
                    <p class="product__price product-price">
                      <span class="product-price__current">20 500</span
                      ><span class="product-price__unit"> ₽/шт.</span>
                    </p>
                  </div>
                  <div class="product__control">
                    <a class="product__btn btn-reset btn-card" href="#"
                      >В корзину</a
                    >

                    @include('stepper.html')
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide list-products__slide">
            <article class="product">
              <a class="product__image" href="#">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source srcset="img/macbook-1.webp" type="image/webp" />
                        <img
                          loading="lazy"
                          src="img/macbook-1.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source srcset="img/macbook-2.webp" type="image/webp" />
                        <img
                          loading="lazy"
                          src="img/macbook-2.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img">
                      <picture class="image-switch__pic">
                        <source srcset="img/macbook-3.webp" type="image/webp" />
                        <img
                          loading="lazy"
                          src="img/macbook-3.jpg"
                          class="image"
                          width="280"
                          height="280"
                          alt="Изображение товара"
                        />
                      </picture>
                    </div>
                  </div>
                </div>

                <ul
                  class="product__image-pagination image-pagination"
                  aria-hidden="true"
                ></ul>
              </a>
              <div class="product__data">
                <div class="product__naim">
                  <h3 class="product__title">
                    <a class="product__link" href="#"
                      >Дискатор прицепной 6х4 (ДП-6Х4) с прикатывающим планчатым
                      катком прикатывающим</a
                    >
                  </h3>
                </div>
                <div class="product__info">
                  <div class="product__price">
                    <span class="product__value">Цена</span>
                    <p class="product__price product-price">
                      <span class="product-price__current">1 600</span
                      ><span class="product-price__unit"> ₽/шт.</span>
                    </p>
                  </div>
                  <div class="product__control">
                    <a class="product__btn btn-reset btn-card" href="#"
                      >В корзину</a
                    >

                    @include('stepper.html')
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="swiper-body__btn swiper-body__btn-prev"></div>
      <div class="swiper-body__btn swiper-body__btn-next"></div>
    </div>
  </div>
</section>
