<article class="product">
  <div>
    <a class="product__image" href="#">
      <div class="product__switch image-switch">
        <div class="image-switch__item">
          <div class="image-switch__img">
            <picture class="image-switch__pic">
              <source srcset="img/macbook-1.webp" type="image/webp">
              <img loading="lazy" src="img/macbook-1.jpg" class="image" width="280" height="280" alt="Изображение товара">
            </picture>
          </div>
        </div>
        <div class="image-switch__item">
          <div class="image-switch__img">
            <picture class="image-switch__pic">
              <source srcset="img/macbook-2.webp" type="image/webp">
              <img loading="lazy" src="img/macbook-2.jpg" class="image" width="280" height="280" alt="Изображение товара">
            </picture>
          </div>
        </div>
        <div class="image-switch__item">
          <div class="image-switch__img">
            <picture class="image-switch__pic">
              <source srcset="img/macbook-3.webp" type="image/webp">
              <img loading="lazy" src="img/macbook-3.jpg" class="image" width="" height="" alt="Изображение товара">
            </picture>
          </div>
        </div>
      </div>
      <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
    </a>
  </div>
  <div class="product__data">
    <div class="product__naim">
      <h3 class="product__title">
        <a class="product__link" href="#">Наименование товара</a>
      </h3>
      <!-- <p class="product__descr">А также предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p> -->
    </div>
    <div class="product__info">
      <div class="product__price">
        <span class="product__value">Цена</span>
        <p class="product__price product-price">
          <span class="product-price__current">600</span><span class="product-price__unit"> ₽/шт.</span>
        </p>
      </div>
      <div class="product__control">
        <a class="product__btn btn-reset btn-card" href="#">В корзину</a>
        @include('stepper.html')
      </div>
    </div>
  </div>
</article>
