<section class="product-slide">
  <div class="container product-slide__container">
    <h2 class="title product-slide__title">Актуальные предложения</h2>
    <p class="subtitle product-slide__subtitle">Самые актуальные товары сезона по выгодным ценам.</p>
    <div class="swiper-body swiper-body__actual">
      <div class="swiper list-products products__slider-actual">
        <div class="swiper-wrapper list-products__wrapper">
          <div class="swiper-slide list-products__slide">
            @include('product.html')
          </div>
          <div class="swiper-slide list-products__slide">
            @include('product.html')
          </div>
          <div class="swiper-slide list-products__slide">
            @include('product.html')
          </div>
          <div class="swiper-slide list-products__slide">
            @include('product.html')
          </div>
          <div class="swiper-slide list-products__slide">
            @include('product.html')
          </div>
          <div class="swiper-slide list-products__slide">
            @include('product.html')
          </div>
          <div class="swiper-slide list-products__slide">
            @include('product.html')
          </div>
          <div class="swiper-slide list-products__slide">
            @include('product.html')
          </div>
          <div class="swiper-slide list-products__slide">
            @include('product.html')
          </div>
        </div>
      </div>
      <div class="swiper-body__btn swiper-body__btn-prev"></div>
      <div class="swiper-body__btn swiper-body__btn-next"></div>
    </div>
  </div>
</section>
