<div class="question-form">
  <div class="container">
    <div class="question-form__inner">
      <h3 class="title question-form__title">Ответим на все ваши вопросы...</h3>
      <p class="question-form__descr">Просто заполните форму и мы свяжемся с вами в ближайшее время</p>
      <form class="question-form__form">
        <label class="question-form__label">
          <input class="question-form__input input-reset" type="text" placeholder="Ваше имя">
        </label>
        <label class="question-form__label">
          <input class="question-form__input input-reset" type="tel" placeholder="Номер телефона">
        </label>
        <label class="question-form__label">
          <input class="question-form__input input-reset" type="text" placeholder="Введите сообщение">
        </label>
        <button class="btn-reset btn-prim question-form__btn" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</div>
