<section class="shop">
  <div class="container">
    <h2 class="title shop__title page-title">Магазин</h2>
    <div class="shop__inner grid">
      <div class="shop__filter filter">
        <div class="filter__inner">
          <p>Здесь фильтр товаров</p>
        </div>
      </div>
      <div class="shop__products">
        <!-- переключатели строка-стобец -->
        <div class="shop__products__switch switch-shop">
          <ul class="list-reset switch-shop__list">
            <li class="switch-shop__item">
              <button class="btn-reset switch-shop__btn" id="row">Строка</button>
            </li>
            <li class="switch-shop__item">
              <button class="btn-reset switch-shop__btn" id="column">Столбец</button>
            </li>
          </ul>
        </div>
        <div class="shop__products-inner grid">

          <!-- элементы распологаются в столбец -->
          <article class="product">
            <a class="product__image" href="#">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-1.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-1.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-2.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-2.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-3.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-3.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
            </a>
            <div class="product__data">
              <div class="product__naim">
                <h3 class="product__title">
                  <a class="product__link" href="#">Адаптер рулевым управлением АР-1 для мотоблока НЕВА (шина
                    4.00-10)</a>
                </h3>
                <p class="product__descr">А также предприниматели в сети интернет набирают популярность среди
                  определенных слоев населения, а значит, должны быть рассмотрены исключительно в разрезе маркетинговых
                  и финансовых предпосылок.</p>
              </div>
              <div class="product__info">
                <div class="product__price">
                  <span class="product__value">Цена</span>
                  <p class="product__price product-price">
                    <span class="product-price__current">9 000</span><span class="product-price__unit"> ₽/шт.</span>
                  </p>
                </div>
                <div class="product__control">
                  <a class="product__btn btn-reset btn-card" href="#">В корзину</a>
                  @include('stepper.html')
                </div>
              </div>
            </div>
          </article>
          <article class="product">
            <a class="product__image" href="#">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-1.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-1.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-2.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-2.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-3.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-3.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
            </a>
            <div class="product__data">
              <div class="product__naim">
                <h3 class="product__title">
                  <a class="product__link" href="#">Адаптер рулевым управлением АР-1 для мотоблока НЕВА (шина
                    4.00-10)</a>
                </h3>
                <p class="product__descr">А также предприниматели в сети интернет набирают популярность среди
                  определенных слоев населения, а значит, должны быть рассмотрены исключительно в разрезе маркетинговых
                  и финансовых предпосылок.</p>
              </div>
              <div class="product__info">
                <div class="product__price">
                  <span class="product__value">Цена</span>
                  <p class="product__price product-price">
                    <span class="product-price__current">9 000</span><span class="product-price__unit"> ₽/шт.</span>
                  </p>
                </div>
                <div class="product__control">
                  <a class="product__btn btn-reset btn-card" href="#">В корзину</a>
                  @include('stepper.html')
                </div>
              </div>
            </div>
          </article>
          <!-- элементы распологаются в строку -->
          <!-- <article class="product product--row">
            <a class="product__image product__image--row" href="#">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-1.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-1.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-2.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-2.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-3.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-3.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
            </a>
            <div class="product__data product__data--row">
              <div class="product__naim product__naim--row">
                <h3 class="product__title">
                  <a class="product__link" href="#">Адаптер рулевым управлением АР-1 для мотоблока НЕВА (шина 4.00-10)</a>
                </h3>
                <p class="product__descr">А также предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>
              </div>
              <div class="product__info product__info--row">
                <div class="product__price product__price--row">
                  <span class="product__value">Цена</span>
                  <p class="product__price product-price">
                    <span class="product-price__current">9 000</span><span class="product-price__unit"> ₽/шт.</span>
                  </p>
                </div>
                <div class="product__control product__control--row">
                  <a class="product__btn product__btn--row btn-reset btn-card" href="#">В корзину</a>
                  @include('stepper.html')
                </div>
              </div>
            </div>
          </article>
          <article class="product product--row">
            <a class="product__image product__image--row" href="#">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-1.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-1.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-2.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-2.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <picture class="image-switch__pic">
                      <source srcset="img/macbook-3.webp" type="image/webp">
                      <img loading="lazy" src="img/macbook-3.jpg" class="image" width="280" height="280"
                        alt="Изображение товара">
                    </picture>
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
            </a>
            <div class="product__data product__data--row">
              <div class="product__naim product__naim--row">
                <h3 class="product__title">
                  <a class="product__link" href="#">Адаптер рулевым управлением АР-1 для мотоблока НЕВА (шина 4.00-10)</a>
                </h3>
                <p class="product__descr">А также предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>
              </div>
              <div class="product__info product__info--row">
                <div class="product__price product__price--row">
                  <span class="product__value">Цена</span>
                  <p class="product__price product-price">
                    <span class="product-price__current">9 000</span><span class="product-price__unit"> ₽/шт.</span>
                  </p>
                </div>
                <div class="product__control product__control--row">
                  <a class="product__btn product__btn--row btn-reset btn-card" href="#">В корзину</a>
                  @include('stepper.html')
                </div>
              </div>
            </div>
          </article> -->
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
