<div class="product__stepper stepper">
  <label class="stepper__field">
    <input type="text" value="1" maxlength="3" class="stepper__input input-reset">
  </label>
  <div class="stepper__btns">
    <button class="stepper__btn stepper__btn--down stepper__btn--disabled btn-reset" aria-label="Уменьшить количество">
      <svg class="stepper__icon"><use xlink:href="img/icons/minus.svg#minus"></use></svg>
    </button>
    <button class="stepper__btn stepper__btn--up btn-reset" aria-label="Увеличить количество">
      <svg class="stepper__icon"><use xlink:href="img/icons/plus.svg#plus"></use></svg>
    </button>
  </div>
</div>
