// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  // --font-family: "Roboto", sans-serif;
  --font-family: "Inter", sans-serif;
  --content-width: 1240px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --prim-color: #27AE4D;
  --dark-color: #000;
  --dark-grey: #7e7e7e;
  --card-color: #3a3e3b;
  --lft-color: #D1D1D1;
  --bl-color: #f2f3f5;
  --ft-color: #20201F;


  // line-height
  --lh150: 150%;
  --lh130: 130%;
  --lh120: 120%;

  // border
  --br-4: 4px;
  --br-8: 8px;
}
